@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.element {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background: #fff;
}
.elements {
  padding: 20px;
  border-radius: 8px;
}

.input {
  display: block;
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 14px 16px;
  @apply block mb-4 text-[17px] w-full rounded-md;
}
body {
  @apply font-sans;
}
